<h1>Forgot Your Password</h1>

<%= form_with url: password_reset_path do |f| %>
  <div class="mb-3 ">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", placeholder: "email@example.com" %>
  </div>

  <div class="mb-3">
    <%= f.submit "Reset Password", class: "btn btn-primary"  %>
  </div>
<% end %>

