<h1>Password#reset</h1>

<p>
  <%= @greeting %>, <%= params[:user].email %>,

  Someone requested a password reset, if this was you please click in the link below and follow the instructions to do so.
  The link will expire automatically in 15 minutes.

  <%= password_reset_edit_url(token: @token) %>

</p>